/* ----COMMON */
html {
  font-family: 'Noto Sans JP', sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

.float-left { float:  left; }
.float-right { float: right; }
.clearfix::after { content: ""; display: table; clear: both; }

/*
.underline-effect::after {

} */

.wrapper a {
  text-decoration: none;
  color: inherit;
}



/* ----STYLE */
/* ----wrapper */
.wrapper {
  height: 100vh;
  width: 100vw;
  background: blue;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  color: #74777B;
}


/* ----top-navbar */
.top-navbar {
  height: 80px;
  background: #080B12;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
}

.wrapper .top-navbar button {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 14px;
}

/* ----sidebar */
nav.sidebar {
  width: 200px;
  background: #000000;
  height: 100vh;
  /* padding-bottom: 50px; */
}

nav.sidebar .top-ul {
  height: 200px;
}


nav.sidebar .middle-ul {
  /* min-height: 10px; */
  /* height: calc(100% - 100px); */
  height: calc(100vh - 50px - 200px - 100px);
}

nav.sidebar .middle-ul ul {
  /* min-height: 10px; */
  overflow-y: auto;
  height: 10vh;
}

nav.sidebar .bottom-ul {
  /* position: absolute;
  bottom: 50px; */
  height: 100px;
}


/* ----main */
main {
  background: #141922;
  height: 100vh;
  width: calc(100% - 200px);
  overflow-y: auto;
}

nav.main-nav {
  margin-top: 80px; /* per compensare altezza top-navbar */
  /* background: yellow; */
  font-size: 14px;
  text-transform: uppercase;
}

nav.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav.main-nav ul li {
  padding: 20px 10px;
  position: relative;
}

/* !hover non funziona! */
nav.main-nav ul .underline-effect::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: #ADFF2E;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}


main .main-content {
  /* background: hsl(39, 100%, 80%); */
  width: 100%;
  height: 1000px;
}

main .main-content .collection {
  padding: 10px 20px;
}

main .main-content .collection h2 {
  padding-left: 5px; /* uguale al padding di .item-container*/
}

main .main-content .item-container {
  width: calc(100%/6);
  padding: 0 5px;
  text-align: center;
}

main .main-content .item-container img {
  width: 100%;
}

@media screen and (max-width: 992px) {

  main .main-content .item-container {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {

  main .main-content .item-container {
    width: 50%;
  }
}


/* ----footer */
footer {
  position: fixed;
  height: 50px;
  background: darkgrey;
  bottom: 0;
  width: 100%;
}
