/**********************************
LEGENDA:

GRUPPO
-- nuova sezione
---- inizio sotto sezione
_nuovo elemento /fine elemento
commento

***********************************/


/* COMMON RULES & UTILITY CLASSES */
html {
  font-family: 'Open Sans', sans-serif;
}

* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

.float-left { 
  float: left; 
}

.float-right { 
  float: right; 
}

.clearfix::after { 
  content: ""; 
  display: table; 
  clear: both; 
}

.wrapper a {
  text-decoration: none;
  color: inherit;
}

.custom-xs-visible {
  display: none;
}


/* STYLE */
/* --wrapper */
.wrapper {
  height: 100vh;
  width: 100vw;
  background: blue;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  color: #74777B;
}

/* --top-navbar */
.top-navbar {
  height: 80px;
  background: #080B12;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
}

.top-navbar button {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 14px;
}

.top-navbar button:hover {
  transform: scale(1.1);
}


/* --sidebar */
nav.sidebar {
  width: 200px;
  background: #000000;
  height: calc(100vh - 80px);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  position: relative; /* per bottom-ul quando xs */
}

nav.sidebar ul{
  list-style: none;
}

nav.sidebar a:hover {
  color: white;
}

/* ----top-ul */
nav.sidebar .top-ul {
  height: 200px;
}

nav.sidebar .top-ul .logo-container {
  text-align: left;
  width: 100px;
  height: 80px;
  line-height: 80px;
}

nav.sidebar .top-ul .logo-container img {
  width: 100%;
  vertical-align: middle;
}

nav.sidebar .top-ul li {
  padding-bottom: 8px;
}

nav.sidebar .top-ul li:first-child {
  color: white;
}

nav.sidebar .top-ul li img {
  width: 25px;
  vertical-align: sub;
}

nav.sidebar .top-ul li span {
  padding-left: 5px;
}

/* ----middle-ul */
nav.sidebar .middle-ul {
  height: calc(100% - 68px - 200px);
}

nav.sidebar .middle-ul ul {
  overflow-y: auto;
  height: calc(100% - 68px);
}

/* _per far scomparire bottom-ul sotto h2{playlist} e il tag a contenente .create-btn e .create-label */
nav.sidebar .middle-ul h2, nav.sidebar .middle-ul .create-container {
  background-color: #000000;
  position: relative;
  z-index: 10;
}
/* _/per far scomparire bottom-ul... */

nav.sidebar .middle-ul h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}

nav.sidebar .middle-ul .create-btn {
  font-size: 16px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  background: #74777B;
  color: #000000;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 5px;
}

nav.sidebar a:hover .create-btn {
  background-color: white;
}

nav.sidebar .middle-ul .create-label {
  font-size: 16px;
  line-height: 35px;
  vertical-align: middle;
}

nav.sidebar .middle-ul li {
  padding-top: 15px;
}

/* ----bottom-ul */
nav.sidebar .bottom-ul ul li:first-child {
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #74777B;
  margin-bottom: 8px;
}

nav.sidebar .bottom-ul ul li:first-child [class*="fa"] {
  margin-right: 10px;
}

nav.sidebar .bottom-ul ul li:last-child .profile-img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background: grey;
  vertical-align: middle;
}

nav.sidebar .bottom-ul ul li:last-child .profile-name {
  vertical-align: middle;
  font-size: 16px;
  color: white;
}


/* --main */
main {
  background: #141922;
  height: 100vh;
  width: calc(100% - 200px);
  overflow-y: auto;
  padding-bottom: 80px; /*per compensare altezza footer*/
}

/* ----main-nav */
nav.main-nav {
  margin-top: 80px; /* per compensare altezza top-navbar */
  font-size: 14px;
  text-transform: uppercase;
}

nav.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav.main-nav ul li { 
  padding: 0 10px;
  height: 60px;
  position: relative;
}

nav.main-nav ul li a {
  line-height: 60px;
}

nav.main-nav ul li a:hover {
  color: white;
}

/* _underline-effect */
.underline-effect::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: #ADFF2E;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
/* _/underline-effect */

/* ----main-content */
main .main-content {
  width: 100%;
}

main .main-content .collection {
  padding: 10px 20px;
}

main .main-content .collection h2, main .main-content .collection h3 {
  color: white;
}

main .main-content .collection h2 {
  padding-left: 5px; /* uguale al padding di .item-container*/
  font-size: 22px;
}

main .main-content .collection > p {
  padding-top: 4px;
  padding-left: 5px; /* uguale al padding di .item-container*/
  font-size: 12px;
}

main .main-content .item-container {
  width: calc(100%/6 - 3%);
  max-width: 250px;
  padding: 0 5px; /* collegato a padding-left di .collection h2 e .collection > p */
  text-align: center;
  margin-right: 3%;
}

main .main-content .item-container .img-container {
  position: relative;
  margin: 24px 0 5px;
}

main .main-content .item-container img {
  width: 100%;
}

/* _overlay */
main .main-content .item-container .img-container .overlay {
  height: calc(100% - 5px); /*per adattare a immagine*/
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.4);
  display: none;
}

main .main-content .item-container .overlay i {
  position: absolute; 
  top: 50%;
  left: 54%; /* WARNING: workaround: sono dovuto andare ad occhio per asse x perché icona non perfettamente centrata */
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

main .main-content .item-container .overlay i.play-button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 35%; /* WARNING: workaround: sono dovuto andare ad occhio per asse x perché icona non perfettamente centrata */
  transform: translate(-50%, -50%);
  border: 4px solid white;
  border-radius: 50%;
}
/* /_overlay */

main .main-content .item-container .img-container:hover .overlay {
  display: block;
}

main .main-content .item-container h3 {
  font-size: 14px;
}

main .main-content .item-container .subtitle {
  font-size: 12px;
  padding-top: 5px;
}

main .main-content .popular.collection .item-container img, main .main-content .popular.collection .item-container .overlay, main .main-content .popular.collection .item-container .img-container {
  border-radius: 50%; /*dato a tutti per far iniziare hover su immagine*/
}


/* --footer */
footer {
  position: fixed;
  height: 80px;
  background: #282828;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  z-index: 14; /*per far sì che copra la top-navbar nel movimento verticale (z-index top-navbar: 10)*/
}

footer > div {
  height: 80px;
  padding: 0 5px;
}

footer i:hover {
  color: white;
  cursor: pointer;
}

/* _progress-bar and current-bar effect on hover */
footer .bar:hover {
  cursor: pointer;
}
/* _/progress-bar and current-bar effect on hover */

footer [class*="-bar"]:hover [class*="-current"]::after, 
footer [class*="current"]:hover::after {
  background-color: #C4F56A;
}

footer .track-details, footer .track-volume {
  min-width: 170px;
}

footer .track-controls i, footer .track-volume i {
  color: white;
}

/* ----track-details */
footer .track-details {
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

footer .track-details img {
  width: 50px;
}

footer .track-details .track-name {
  padding-left: 10px;
  flex-basis: 90px;
}

footer .track-details .track-name .album {
  font-size: 15px;
  color: white;
}

footer .track-details .track-name .track {
  font-size: 10px;
}

footer .track-details .track:hover {
  text-decoration: underline;
  color: white;
}

footer .track-details .icons .fa-heart {
  padding-right: 5px;
}

/* ----track-controls */
footer .track-controls {
  flex-basis: 500px;
  flex-shrink: 1;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .track-controls .controls-container {
  padding: 10px 0 5px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

footer .track-controls i {
  font-size: 16px;
  color: white;
}

footer .track-controls i[class*="fa-play"] {
  position: relative;
  padding: 0 15px;
}

footer .track-controls i[class*="fa-play"]::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

footer .track-controls [class*="fa-play"]:hover {
  transform: scale(1.1);
}

footer .track-controls .progress-bar-container {
  width: 90%;
  margin-bottom: 5px;
}

footer .track-controls .progress-bar {
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 70px);
  position: relative;
  height: 3px;
  background: #808080;
}

footer .track-controls .time-start {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  font-size: 8px;
  color: white;
}

footer .track-controls .time-end {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  font-size: 8px;
  color: white;
  text-align: right;
}

/* _current-progress */
.current-progress::after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 3px;
  background: #FFFFFF;
}
/* _/current-progress */

/* ----track-volume */
footer .track-volume {
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .track-volume i {
  padding-left: 10px;
}

footer .track-volume .volume-bar {
  display: inline-block;
  width: 100px;
  height: 3px;
  margin-left: 10px;
  position: relative;
  background: #808080;
}

/* _circle-indicator */
.circle-indicator::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  display: none;
}

footer .circle-indicator:hover::before {
  display: block;
}
/* _/circle-indicator */

/* _current-volume */
.current-volume::after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 3px;
  background: #FFFFFF;
}
/* _/current-volume */


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {

  main .main-content .item-container {
    width: calc(100%/6);
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {

  main .main-content .item-container {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {

  main .main-content .item-container {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  
  .top-navbar {
    width: calc(100% - 50px);
  }

  main {
    width: calc(100% - 50px);
  }

  .custom-xs-hidden {
    display: none;
  }

  .custom-xs-visible {
    display: block;
  }

  nav.sidebar {
    width: 50px;
    padding: 10px 0 90px; /*90px = 10px + 80px del footer*/
    height: 100vh;
  }

  nav.sidebar .top-ul {
    background-color: #000000;
    position: relative;
    z-index: 10;
    height: auto;
  }

  nav.sidebar .top-ul, nav.sidebar .bottom-ul {
    text-align: center;
  }

  nav.sidebar .top-ul ul {
    list-style: none;
  }

  nav.sidebar .top-ul .logo-container {
    width: 50px;
    height: auto;
    margin-bottom: 8px;
    line-height: normal;
  }

  nav.sidebar .top-ul .logo-container img {
    width: 28px;
    margin: 0 auto;
    padding: 0;
  }

  nav.sidebar .top-ul li img {
    width: 25px;
  }

  nav.sidebar .bottom-ul {
    position: absolute;
    bottom: 90px; /*altezza footer (80px) + padding di 10px*/
    text-align: center;
    width: 50px;
  }

  nav.sidebar .bottom-ul li {
    width: 50px;
  }

  nav.sidebar .bottom-ul ul li:first-child {
    border-bottom: none;
  }

  nav.sidebar .bottom-ul ul li:first-child [class*="fa"] {
    width: 16px;
    margin-right: 0;
  }

  nav.sidebar .bottom-ul ul li:last-child .profile-img {
    width: 25px;
    margin-right: 0;
  }
}
