/* NOTES: se centri un elemento dentro un altro, il positioning non tiene conto del padding del genitore: usa margin invece di paddaing sul genitore (ma attento al margin-collapse verticale) */

/* ----COMMON */
html {
  font-family: 'Noto Sans JP', sans-serif; /* WARNING: le u accentate sono strane, cambia font-family: prova roboto o montserrat */
}

* { box-sizing: border-box; margin: 0; padding: 0; }

.float-left { float:  left; }
.float-right { float: right; }
.clearfix::after { content: ""; display: table; clear: both; }

/*
.underline-effect::after {

} */

.wrapper a {
  text-decoration: none;
  color: inherit;
}

.custom-xs-visible {
  display: none;
}


/* ----STYLE */
/* ----wrapper */
.wrapper {
  height: 100vh;
  width: 100vw;
  background: blue;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  color: #74777B;
}


/* ----top-navbar */
.top-navbar {
  height: 80px;
  background: #080B12;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  opacity: 0.6; /* TODO: considera  */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
}

.wrapper .top-navbar button {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 14px;
}

.wrapper .top-navbar button:hover {
  transform: scale(1.1);
}

/* ----sidebar */
nav.sidebar {
  width: 200px;
  background: #000000;
  /* height: 100vh; */
  height: calc(100vh - 80px);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  /* padding-bottom: 50px; */
  position: relative; /* per bottom-ul quando xs */
}

nav.sidebar ul{
  list-style: none;
  /* padding-left: 50px; */
}

nav.sidebar .top-ul {
  height: 200px;
}

nav.sidebar .top-ul .logo-container {
  text-align: left;
  width: 100px;
  height: 80px;
  line-height: 80px;
}

nav.sidebar .top-ul .logo-container img {
  width: 100%;
  vertical-align: middle;
}

nav.sidebar .top-ul li {
  padding-bottom: 8px;
}

nav.sidebar .top-ul li:first-child {
  color: white;
}

nav.sidebar .top-ul li img {
  width: 25px;
  vertical-align: sub;
}


nav.sidebar .middle-ul {
  /* min-height: 10px; */
  /* height: calc(100% - 100px); */
  /* height: calc(100% - 200px); */
  height: calc(100% - 63px - 200px);
}

nav.sidebar .middle-ul ul {
  /* min-height: 10px; */
  overflow-y: auto;
  /* height: 15vh; */
  height: calc(100% - 63px);
}

nav.sidebar .middle-ul h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}

nav.sidebar .middle-ul .create-btn {
  font-size: 16px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  background: #74777B;
  color: #000000;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 5px;
}

nav.sidebar .middle-ul .create-label {
  font-size: 16px;

  line-height: 35px;
  vertical-align: middle;
}


nav.sidebar .middle-ul li {
  padding-top: 15px;
  /* font-size: 14px */
}





nav.sidebar .bottom-ul {
  /* position: absolute;
  bottom: 50px; */
  /* height: 100px; */
}

nav.sidebar .bottom-ul ul li:first-child {
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #74777B;
  margin-bottom: 8px;
}

nav.sidebar .bottom-ul ul li:first-child [class*="fa"] {
  margin-right: 10px;
}

nav.sidebar .bottom-ul ul li:last-child .profile-img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background: grey;
  border-radius: 50%; */
  position: relative;
  /* display: inline-block; */
  background: grey;
  vertical-align: middle;
}

nav.sidebar .bottom-ul ul li:last-child .profile-name {
  vertical-align: middle;
  font-size: 16px;
  color: white;
}


/* ----main */
main {
  background: #141922;
  height: 100vh;
  width: calc(100% - 200px);
  overflow-y: auto;
  padding-bottom: 80px; /*per compensare altezza footer*/
}

nav.main-nav {
  margin-top: 80px; /* per compensare altezza top-navbar */
  /* background: yellow; */
  font-size: 14px;
  text-transform: uppercase;
}

nav.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav.main-nav ul li { /* TODO: prova a rifare dando h predefinita e line-height, poi adegua a, così hover e linkabilità dovrebbero corrispondere */
  /* padding: 20px 10px; */
  padding: 0 10px;
  height: 60px;
  position: relative;
}

nav.main-nav ul li a {
  line-height: 60px;
}


nav.main-nav ul li a:hover {
  color: white;
}


.underline-effect::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: #ADFF2E;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}


main .main-content {
  /* background: hsl(39, 100%, 80%); */
  width: 100%;
  /* height: 1000px; */
}

main .main-content .collection {
  padding: 10px 20px;
}

main .main-content .collection h2, main .main-content .collection h3 {
  color: white;
}

main .main-content .collection h2 {
  padding-left: 5px; /* uguale al padding di .item-container*/
  font-size: 22px;
}

main .main-content .collection > p {
  padding-top: 4px;
  padding-left: 5px; /* uguale al padding di .item-container*/
  font-size: 12px;
}

main .main-content .item-container {
  width: calc(100%/6 - 3%);
  max-width: 250px;
  padding: 0 5px;
  text-align: center;
  margin-right: 3%;
}

main .main-content .item-container .img-container {
  position: relative;
  margin: 24px 0 5px;
}

main .main-content .item-container img {
  width: 100%;
}

main .main-content .item-container .play-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid white;
  border-radius: 50%;
  text-align: center;
  display: none;
}

main .main-content .item-container .play-button i {
  position: absolute; /* WARNING: c'era un modo più semplice? */
  top: 50%;
  left: 59%; /* WARNING: workaround: sono dovuto andare ad occhio per asse x perché icona non perfettamente centrata */
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

main .main-content .item-container .img-container:hover .play-button {
  display: block;
}

main .main-content .item-container h3 {
  font-size: 14px;
}

main .main-content .item-container .subtitle {
  font-size: 12px;
  padding-top: 5px;
}

main .main-content .popular.collection .item-container img, main .main-content .popular.collection .item-container .pay-button, main .main-content .popular.collection .item-container .img-container {
  border-radius: 50%; /*dato a tutti per far iniziare hover su immagine*/
}

@media screen and (max-width: 1200px) {

  main .main-content .item-container {
    width: calc(100%/6);
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {

  main .main-content .item-container {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {

  main .main-content .item-container {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  nav.sidebar {
    width: 50px;
    padding: 10px 0 90px; /*90px = 10px + 80px del footer*/
  }

  .top-navbar {
    width: calc(100% - 50px);
  }

  main {
    width: calc(100% - 50px);
  }

  .custom-xs-hidden {
    display: none;
  }

  .custom-xs-visible {
    display: block;
  }

  nav.sidebar .top-ul, nav.sidebar .bottom-ul {
    text-align: center;
  }

  nav.sidebar .top-ul ul {
    list-style: none;
  }

  nav.sidebar .top-ul .logo-container {
    /* text-align: center !important; */
    width: 50px;
    height: auto;
    margin-bottom: 8px;
    line-height: normal;
  }

  nav.sidebar .top-ul .logo-container img {
    width: 28px;
    margin: 0 auto;
    padding: 0;
  }

  nav.sidebar .top-ul li img {
    width: 25px;
  }

  nav.sidebar .bottom-ul {
    position: absolute;
    bottom: 90px; /*altezza footer (80px) + padding di 10px*/
    text-align: center;
    width: 50px;
  }

  nav.sidebar .bottom-ul li {
    width: 50px;
  }

  nav.sidebar .bottom-ul ul li:first-child {
    border-bottom: none;
  }

  nav.sidebar .bottom-ul ul li:first-child [class*="fa"] {
    width: 16px;
    margin-right: 0;
  }

  nav.sidebar .bottom-ul ul li:last-child .profile-img {
    width: 25px;
    margin-right: 0;
  }
}


/* ----footer */
footer {
  position: fixed;
  height: 80px;
  background: #282828;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

footer > div {
  height: 80px;
  padding: 0 5px;
}

footer .track-details, footer .track-volume {
  min-width: 170px;
}

footer .track-controls i, footer .track-volume i {
  color: white;
}

/* _track-details */
footer .track-details {
  flex-basis: 300px;
  /* min-width: 200px; */
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;

}

footer .track-details img {
  width: 50px;
}

footer .track-details .track-name {
  padding-left: 10px;
  /* padding-right: 40px; */
  flex-basis: 90px;
}

footer .track-details .track-name .album {
  font-size: 15px;
}

footer .track-details .track-name .track {
  font-size: 10px;
}




/* _track-controls */
footer .track-controls {
  flex-basis: 500px;
  /* min-width: 300px; */

  flex-shrink: 1;
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


footer .track-controls .controls-container {
  padding: 10px 0 5px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

footer .track-controls i {
  font-size: 16px;
  color: white;
}


footer .track-controls i[class*="fa-play"] {
  position: relative;
  padding: 0 15px;
}

footer .track-controls i[class*="fa-play"]::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}


footer .track-controls .progress-bar-container {
  width: 90%;
  /* height: 2px;
  position: relative;
  height: 3px;
  background: #808080; */
  margin-bottom: 5px;
  /* position: relative; */
}

footer .track-controls .progress-bar {
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 70px);
  /* height: 2px; */
  position: relative;
  height: 3px;
  background: #808080;
  /* margin-bottom: 20px; */
  /* position: relative; */
}

footer .track-controls .time-start {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  font-size: 8px;
  color: white;
}

footer .track-controls .time-end {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  font-size: 8px;
  color: white;
  text-align: right;
}

.current-progress::after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 3px;
  background: #FFFFFF;
}






/* _track-volume */
footer .track-volume {
  /* min-width: 200px; */
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .track-volume i {
  padding-left: 10px;
}

footer .track-volume .volume-bar {
  display: inline-block;
  width: 100px;
  height: 2px;
  margin-left: 10px;
  position: relative;
}

/* TODO: unisci al precedente */
footer .track-volume .volume-bar {
  /* width: 100%; */
  height: 3px;
  background: #808080;
  /* margin-left: 10px; */
}

.current-volume::after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 3px;
  background: #FFFFFF;
  /* top: 50%;
  transform: translateY(-50%); */
}
